[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
numpy = "*"
Keras = "*"
Pillow = "*"
opencv-python = "*"
matplotlib = "*"
"h5py" = "*"
requests = "*"
tqdm = "*"


[dev-packages]



[requires]

python_version = "3.6"
